/* Login.css */

.signup-container {
  background-repeat: no-repeat; 
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  margin-left: 55%;
  padding: 30px;
  border: 0px solid #ccc;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(36, 105, 173);
  background-color: black;
}


.signup-container1 {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  margin-left: 55%;
  padding: 30px;
  border: 0px solid #ccc;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(36, 105, 173);
  background-color: rgba(0, 0, 0, 0.908);
}

.signup-container h2 {
    text-align: left;
    color:#007bff;
  }
  h2 {
    color: #007bff;
  }
  p {
    color:#ccc;
    font-family: verdana;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: #ccc;
    font-family: Verdana;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-top: 4px;
    border-radius: 2px;
  }
  
  .error-message {
    color: red;
    margin-top: 8px;
  }
  
  .signup-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  h3 {
    text-align: left;
  }
  body {
    background-image: url("https://img.freepik.com/free-photo/flat-lay-photo-office-desk-with-laptop-copy-space-background_1150-45598.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1710633600&semt=ais");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  